<!DOCTYPE html>

<html lang="en">

 <head> 
  
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  
 </head>

 <div class="body-wrap">
 
   <div class="body-container">
 
     <div class="body-header">
 
       <%=link_to $cath.last, product_path(Product.where(:cat_name=>$cath.last).pluck(:id)[0]),:style=>"color:white;"%>
  
      </div>
  
      <div class="body-content">
   
        <div class="container">

          <div class="row">

            <div class="col-md-12">

             <ol class="breadcrumb">

                <% @taxo=$taxo.reverse%>

                   <% @taxo.each do |i|%>

                      <li><%=link_to i.pluck(:cat_name)[0], product_path(i.pluck(:id)[0])%></li><%break if @taxo.last==i%> 
                      
                      <i class="fa fa-angle-double-right" style="font-size: 16px; color:rgb(0, 102, 255);"></i> 
                
                    <%end%>

              </ol>

            </div>
 
          </div>
      
          <br>

          <div class="product-compare">

            <table class="table">

              <thead>

                <i class="fa fa-dot-circle-o" style="font-size: 15px; color: rgb(0, 102, 255);"></i>&nbsp;Indicates product differences. <br>
         
                <br>

                <% @n.each do|j|%>

                  <%next if j=="Global Description"%>

                  <%unless j=="IMAGE Link-1"%>

                    <%@j=j%><%@ss=[]%> 
  
                      <%@cc.each do |i|%>
              
                        <%@i=i%> 
                        
                        <%@pf = Sku.where(:i_id=>@i).where(:name=>@j).pluck(:value,:unit).uniq.join%>
       
                        <%@ss<<@pf%>

                      <%end%>

                      <tr>

                        <%unless ["Manufacturer Name","Manufacturer Part Number","Product Name"].include?(j)%>

                        <%unless @ss.uniq.count==1 %>
 
                          <td><i class="fa fa-dot-circle-o" style="color: rgb(0, 102, 255);"></i>&nbsp;

                           <strong><%=@j%></strong>

                          </td>

                        <%else%>

                          <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong><%=@j%></strong></td><%end%>

                  <%else%>

                          <td></td>

                  <%end%>

             <%@ss.each do |i|%>
  
                <%if @j=="Manufacturer Part Number"%>

                  <%if @ss.count(i) == 1%>

                        <%@o=Sku.where(:name=>"Manufacturer Part Number").where(:value=>i).pluck(:i_id)[0]%>
 
                    <td><%= link_to i, edit_product_path(@o)%></td> 

                  <%end%>
                
                <%else%>

                  <%if @ss.count(i) == 1%>
 
                    <td style="color: rgb(0, 102, 255);"><%=i%></td> 

                  <%else%>
 
                    <td><%=i%></td>
 
                  <%end%>

               <%end%>

             <%end%>
 
             </thead>
     
            </tr>
              
 <%else%>
  
  <tr class="odd">

    <td><%@j=j%></td>
              
    <%@cc.each do |i|%>
              
       <%@i=i%> 
                       
       <td align="left"><%@p1 = Sku.where(:i_id=>@i).where(:name=>@j).pluck(:value)[0]%>
                            
          <%if @p1.blank?%>

              <img src="/assets/not.jpeg" alt="Image not available">

          <%else%>

              <%=image_tag @p1%>

          <%end%>

        </td>

    <%end%>

  </tr>

 <%end%>
            
 <%end%></td></tr> 

 

 </table>
 </div>

 </div>
 </div>
 </div>
 </div>

</html>
